a {
  text-decoration: none;
  color: inherit;
}

.dogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dog-card {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  flex: 1;
  min-width: 14rem;
  max-width: 18rem;
  min-height: 17.5rem;
  max-height: 25rem;
  margin: 1rem;
  cursor: pointer;
  border: 1px solid #39495c;
}

.dog-card h2 {
  align-self: center;
}

.dog-card p {
  flex-grow: 1;
}

.dog-card:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2);
}
